<!DOCTYPE html>
<html>
<head>
  <title>Bootic 444</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <section class="header">
    <h1>Bootic 444</h1>
  </section>

<%= yield %>

</body>
</html>
